nav {
  display: flex;
  justify-content: space-around;
}

button {
  background-color: darkred;
  color: white;
}

h1 {
  display: flex;
  align-items: end;
  max-height: fit-content;
  max-width: fit-content;
  color: aliceblue;
}